<!DOCTYPE html>

<html lang="en" ng-app="mHttpSample">

  <head>
    <meta charset="utf-8"/>
    <title>mHttp - Self-hosting C# HTTP server library</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/gh-fork-ribbon.min.css" rel="stylesheet">
    <link href="css/metricsgraphics.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/metricsgraphics.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <link href="mHttp.Sample.css" rel="stylesheet">
    <script src="mHttp.Sample.js"></script>
  </head>

  <body>
    <a href="https://github.com/joongonn/mHttp"><img style="position: fixed; top: 0; left: 0; border: 0;" src="images/forkme_left_darkblue_121621.png"></a>

    <div class="container">
      <div align="right">
        <h2>mHttp sample project</h2>
        <p><i>Open source self-hosting web server library for C#</i></p>
        <p><a href="https://github.com/joongonn/mHttp/blob/master/mHttp.Sample/Program.cs">Server src</a> | <a href="https://github.com/joongonn/mHttp/blob/master/mHttp.Sample/web/index.html">Page src</a></p>
      </div>
    </div>

    <div class="container" ng-controller="MetricsController" ng-init="refreshMetrics()">
      <h4 class="metric-heading" style="margin-top: 0">Sessions</h4>
      <div class="table-container">
        <table class="table table-bordered shadow">
          <thead>
            <tr>
                <th colspan="6" class="center">HTTP Sessions</th>
                <th colspan="3" class="center">WebSocket Sessions</th>
            </tr>
            <tr>
              <th>Current Rate</th>
              <th>Max Rate</th>
              <th>Current</th>
              <th>Max</th>
              <th>Total</th>
              <th>Errors</th>
              <th>Current (online)</th>
              <th>Max</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="metrics.Backend">
              <td>{{ metrics.Backend.Sessions.CurrentRate }}</td>
              <td>{{ metrics.Backend.Sessions.MaxRate }}</td>
              <td>{{ metrics.Backend.Sessions.Current }}</td>
              <td>{{ metrics.Backend.Sessions.Max }}</td>
              <td>{{ metrics.Backend.Sessions.Total }}</td>
              <td ng-switch="metrics.Backend.Sessions.$totalErrors > 0">
                <span ng-switch-when="true" ng-click="metrics.Backend.Sessions.$showTotalErrors()" class="clickable">{{ metrics.Backend.Sessions.$totalErrors }}</span>
                <span ng-switch-when="false">0</span>
              </td>
              <td>{{ metrics.Backend.WebSocketSessions.Current }}</td>
              <td>{{ metrics.Backend.WebSocketSessions.Max }}</td>
              <td>{{ metrics.Backend.WebSocketSessions.Total }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4 class="metric-heading" >Route Table</h4>
      <div class="table-container">
        <table class="table table-bordered shadow">
          <thead>
            <tr>
              <th rowspan="2">Route</th>
              <th colspan="2" class="center">Traffic (bytes)</th>
              <th colspan="4" class="center">Responses</th>
              <th colspan="3" class="center">Handler Time (ms)</th>
            </tr>
            <tr>
              <th>Total In</th>
              <th>Total Out</th>
              <th>Current Rate</th>
              <th>Max Rate</th>
              <th>Total</th>
              <th>24 hrs</th>
              <th>50%</th>
              <th>90%</th>
              <th>99.9%</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="endpoint in metrics.HostReports[0].Endpoints">
              <td>{{ endpoint.Method }}:{{ endpoint.Route }}</td>
              <td>{{ endpoint.Bytes.In }}</td>
              <td>{{ endpoint.Bytes.Out }}</td>
              <td>{{ endpoint.CurrentResponseRate }}</td>
              <td>{{ endpoint.MaxResponseRate }}</td>
              <td>{{ endpoint.$totalResponses }}</td>
              <td ng-switch="endpoint.$responses > 0">
                <span ng-switch-when="true" ng-click="endpoint.$showResponsesGraph()" class="clickable">{{ endpoint.$responses }}</span>
                <span ng-switch-when="false">0</span>
              </td>
              <td>{{ endpoint.$handlerTime[0] }}</td>
              <td>{{ endpoint.$handlerTime[1] }}</td>
              <td>{{ endpoint.$handlerTime[2] }}</td>
            </tr>
          </tbody>
        </table>
        <div ng-switch="refreshing" align="right">
          <button ng-switch-when="true" ng-disabled="true" class="btn btn-default">Refreshing ...</button>
          <button ng-switch-when="false" ng-click="refreshMetrics()" class="btn btn-default">Refresh</button>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="WebSocketController">
      <h4 class="metric-heading" >WebSocket Sessions</h4>
      <div class="table-container">
        <div class="room shadow" ng-class="{'disconnected': !connected}">
          <div id="messages"></div>
          <div class="input-container">
            <input id="input" ng-model="message" ng-disabled="!connected" ng-keyup="$event.keyCode == 13 && sendMessage()" type="text" placeholder="Message (Enter to send)">
          </div>
        </div>
        <div ng-switch="ws.readyState" align="right">
          <button ng-switch-when="0" ng-disabled="true" class="btn btn-default">Connecting ...</button>
          <button ng-switch-when="1" ng-click="disconnect()" class="btn btn-default">Disconnect</button>
          <button ng-switch-default ng-click="connect()" class="btn btn-default">Connect</button>
        </div>
      </div>
      <hr>
    </div>

    <!-- Response Graph Modal -->
    <div class="modal" id="sessionsErrorsModal" tabindex="-1" role="dialog" ng-controller="SessionsErrorsController">
      <div class="modal-dialog" role="document" style="width: 400px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Sessions Errors</h4>
          </div>
          <div class="modal-body" style="font-family: monospace;">
            <table class="table table-bordered shadow">
              <thead>
                <tr>
                    <th>Exception</th>
                    <th>Count</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(exception, count) in errors">
                  <td>{{ exception }}</td>
                  <td>{{ count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Response Graph Modal -->
    <div class="modal" id="responsesGraphModal" tabindex="-1" role="dialog" ng-controller="ResponsesGraphController">
      <div class="modal-dialog" role="document" style="width: 650px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Route: <code>{{ endpoint.$endpointId }}</code></h4>
          </div>
          <div class="modal-body" style="font-family: monospace;">
            <div>
              <ul>
                <li ng-repeat="(statusCode, count) in endpoint.$responsesByStatusCode"><b>HTTP {{ statusCode }}</b> : <span ng-click="showGraph(statusCode)" class="clickable">{{ count }}</span></li>
              </ul>
            </div>
            <div id="responsesGraph"></div> 
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
